.PhotosContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: .25em;
  height: 60vh;
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
}

.PhotoItem {
  position: relative;
  float: left;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
